.go-down-btn-container{
    top: 50px;
    position: absolute;
    z-index: 1;
    /* color: rgb(96, 96, 207); */
    right: 40px;
    /* transition: all 0.37s ease-in; */
    animation: changeColors 1s ease infinite;
}
.go-down-btn-container .go-down-btn-logo{
    height: 50px;
    width: 50px;
}


/* -------------------ANIMATION------------------ */

@keyframes changeColors{
    0%{
        color: rgb(154, 197, 234);
    }
    20%{
        color: rgb(34, 208, 238);
    }
    100%{
        color: rgb(22, 153, 247);
    }
}
